html {
  font-size: 16px;
}
body {
  overflow: hidden;
}
nav {
  display: flex;
  flex-direction: column;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: auto;
  width: 80%;
  gap: 2rem;
}
nav li {
  list-style: none;
}
.logo {
  border: white solid 5px;
  font-size: 5rem;
  text-align: center;
  background: -webkit-linear-gradient(left, #33235B, #D62229, #E97639, #792042, #33235B);
  background: linear-gradient(left, #33235B, #D62229, #E97639, #792042, #33235B);
  background-size: 3200px 200px;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: animate-logo;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 6s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  transition: font-size 500ms ease-in-out;
}
@-webkit-keyframes animate-logo {
  0% {
    background-position: 0 3200px;
  }

  100% {
    background-position: 3200px 0;
  }
}
@media screen and (max-width: 590px) {
  .logo {
    font-size: 14vw;
  }
}