* {
  margin: 0;
}
  body {
    margin: 0;
    padding: 0;
  }
  
  section {
    height: 80vh;
    padding: 80px;
  }

  h1, h2 {
    text-align: center;
  }

  h1 {
    margin: 30px;
  }
  
  h2 {
    margin-bottom: 30px;
  }
  
  .section1 {
    background-color: #F5D0C5;
  }
  
  .section2 {
    background-color: #F5E1C5;
  }
  
  .section3 {
    background-color: #C5F5D0;
  }
  
  .section4 {
    background-color: #C5D0F5;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  
  img {
    width: 50%;
    margin-right: 35px;
  }
  
  p {
    width: 50%;
  }
  
  .animate__animated {
    opacity: 0;
  }  
